
header .icons span{
    font-size: 25px;
}
.home-main .home-main-banner-container h2{
    font-size: 4rem;
    margin-bottom: 0;
}
.home-main .home-main-banner-container p{
    font-size: 2rem;
    margin-top: 0;
}

