:root {
    /* Colores */
    --my-white: #ecf0f0;
    --almost-black: #262626;
    --primary-color: #B3001B;
    --secondary-color: #255C99;
    --light-sec-color: #7EA3CC;
    --light-prim-color: #CCAD8F;

    --sm: 1rem;
    --md: 1.2rem;
    --lg: 2rem;
    --xl: 2.5rem;
    --xxl: 5rem;

    /* Fuentes */
    --title: "Playfair Display", serif;
    --body: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    /* position: fixed; PARA QUE NO SE MUEVA LA PANTALLA Y OCUPE TODA e
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; */
    font-family: var(--body);
    font-weight: 400 ;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline;
    color: var(--almost-black);
}
html {
    font-size: 62.5%;
    background-color: #eae8e5;
}

header{
    height: 40px;
    width: 100%;
    
    display: flex;
    flex: auto auto auto;
}
p {
    font-size: 1.2rem;
}
.nav-logo-container {
    width: 70px;
    height: 80px;
    background-color: var(--primary-color);
    position: absolute;
    margin-left: 10px;
}
.nav-logo-container a{
    width: 60px;
    height: 100px;
    font-family: var(--title);
    font-weight: 700;
    color: #eae8e5;
    position: absolute;
    bottom: 0;
}
.nav-logo-container a p{
    margin: 0;
    position: absolute;  
    font-size: 15px; 
}
.nav-logo-container a p:first-child{
    bottom: 7px;
    left: 11px;
}
.nav-logo-container a p:last-child{
    bottom: -1px;  
    left: 5px; 
}
nav  {
    margin-left: 90px;
    display: flex;
    align-self: center;
}
.profile-link {
    width: 70px;
}
nav .profile-link a{
    border-bottom: 1px solid var(--primary-color);
}

header .header-icon-container {
    width: 100%;
    display: flex;
    justify-content: flex-end; 
}

header .header-icon-container a {
    color: var(--primary-color);
}

header .header-icon-container .icons {
    width: 100%;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content:space-around;
    justify-self: center;
    font-size: 1.5rem;
}


.home-main .home-main-banner-container {
    width: 100%;
    height: calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../img/codigo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
    color: white;
}

.home-main .home-main-banner-container h2 {
    font-size: var(--lg);
    margin-bottom: 0;
    text-shadow: #262626;
}
.home-main .home-main-banner-container p {
    margin-top: 0;
}

.home-main .home-main-banner-container button {
    padding: 8px 10px;
    background-color: var(--primary-color);
    font-family: var(--body);
    font-weight: bold;
    border: none;
    border-radius: 4px;
}
.home-main .home-main-banner-container button a {
    color: white;
}

/*
-----
-----
-----EMPIEZA EL CÓDIGO DE blogs.html
-----
-----
 */

.blogs-main {
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: auto auto   ;
    position: relative;
}

.blogs-main .blogs-news-container {
    width: 100%;
    height: 400px;
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 10fr);
    margin-top: 40px;
    background-color: white;
}
.blogs-main .blogs-news-container .blogs-news-banner{
    width: 100%;
    grid-column: 1 / 11;
    grid-row: 1 / 4 ;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-image: url(../img/blogs-news-banner.jpg);
    background-size: cover;
}
.blogs-news-banner h2 {
    font-family: var(--title);
    font-size: 4rem;
    color: white;
    grid-area: 3 / 7 / 4 / 9;
    margin: 0;
}

.blogs-main .blogs-news-img-container {
    grid-area: 2 / 2 / 10 / 6;
}

.blogs-main .blogs-news-container  img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.blogs-news-info-container {
    grid-area: 4 / 6 / 10 / 11;
    display: flex;
    flex-direction: column;
    padding-left: 5vw;
}
.blogs-news-info-container h3 {
    margin-top: 30px;
    font-size: 1.5rem;
}
.blogs-news-info-container p {
    margin-top: 5px;
    margin-right: 20px;
    font-weight: 300;
    font-size: 1.2rem;
}
.blogs-button {
    width: 100px;
    padding: 6px 10px;
    background-color: var(--light-prim-color);
    font-family: var(--body);
    font-weight: bold;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
}
.blogs-button a {
    color: white;
    font-weight: 600;
}

.blogs-post-container {
    grid-column: 2 / 3; 
    margin-top: 30px;
}
.blogs-post-container h3 {
    font-size: 3rem;
    margin-left: 40px;
    margin-bottom: 0;
    font-size: 2rem;
    margin-top: 20px;
}
.blogs-post-container p {
    font-size: 1.2rem;
}

.blogs-post-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blogs-post-container .post-container{
    width: 220px;    
    padding: 40px 10px;
}
.blogs-post-container .post-container .post-container--title {
    font-weight: 700;
    font-size: 1.5rem;
}
.blogs-post-container .post-container img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    
}
.post-button {
    align-self: baseline;

}

/* 
-----
-----
EMPIEZA EL CODIGO PARA LOS BLOGPOSTS 
 -----
  -----
*/
.blospost-billboard-container {
    width: 100%;
    height: calc(250px + (30vw));  
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(8, 1fr);
}
.blogpost-tittle-container {
    grid-area: 3 / 2 / 6 / 3;
}
.blogpost-tittle-container h1 {
    margin: 0;
    font-family: var(--title);
    font-size: calc(2rem + 4vw);
}
.blogpost-tittle-container p {
    max-width: 400px;
    font-size: 1.2rem;
}
.blogpost-main-image {
    width: 90%;
    height: calc(150px + 30vw);
    max-height: 450px;
    position: absolute;
    top: calc(-75px - 15vw);
    right: 0;
}
.blogpost-main-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blogpost-main-image p {
    margin-top: 0px;
    font-family: var(--title);
    font-size: 1.2rem;
}
.blogpost-container {
    width: 100%;
    position: relative;
    display: grid;
    background-color: white;
}
.blogpost-article {
    width: 90%;
    margin-top: calc(130px + 15vw); 
    display: flex;
    justify-content: center;
    justify-self: right;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.blogpost-article-text {
    width: 49%;
    min-width: 280px;
}
.blogpost-article-text h2 {
    font-family: var(--title);
    font-size: 1.8rem;
}
.blogpost-article-image {
    width: 49%;
    min-width: 280px;
    height: 100vw;
    max-height: 500px;
}
.blogpost-article-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.contact-container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.contact-container .contact-info {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: solid 1px lightgray;
}
.contact-info img {
    height: 40px;
}
.contact-info p {
    font-style: italic;
}
footer {
    width: 100%;
    height: 50px;
    background-color: var(--light-prim-color);
    display: flex;
    align-items: center;
    justify-content: center ;
}

footer p {
    color: white;
    margin: 0;
    font-style: italic;
}

