nav .profile-link {
    width: 80px;
    font-size: 1.2rem;
}
.home-main .home-main-banner-container h2{
    font-size: 3rem;
    margin-bottom: 0;
}
.home-main .home-main-banner-container p{
    font-size: 1.5rem;
    margin-top: 0;
}
header .icons span{
    font-size: 20px;
}

/* LAYOUT DE blogs.html */
.blogs-post-container .post-container{
    width: 30%;    
    padding: 40px 10px;
}

